aside.sidebar
  s_sidebar
    <!-- 사이드바 -->
    s_sidebar_element
      <!-- 프로필 -->
      include ./profile

    s_sidebar_element
      <!-- 카테고리 -->
      include ./category

    s_sidebar_element
      <!-- 공지사항 -->
      include ./notice

    s_sidebar_element
      <!-- 최근 글 -->
      include ./recent-article

    s_sidebar_element
      <!-- 인기 글 -->
      include ./popular-article

    s_sidebar_element
      <!-- 최근 댓글 -->
      include ./recent-comments
