section#profile
  s_not_var_profile-image-visible
    .img-wrapper
      img(src='[##_image_##]', alt='profile')
  .info
    s_not_var_profile-blogger-visible
      .name [##_blogger_##]
    s_not_var_profile-blog-desc-visible
      .desc [##_desc_##]
