section#profile
  s_not_var_profile-image-hide
    .img-wrapper
      img(src='[##_image_##]', alt='profile')
  .info
    s_not_var_profile-blogger-hide
      .name [##_blogger_##]
    s_not_var_profile-blog-desc-hide
      .desc [##_desc_##]
