section#random-tags.sidebar-item
  .sidebar-item-title
    include ../icons/tags-icon
    h3 태그
  .body
    .tags
      s_random_tags
        a.tag(href='[##_tag_link_##]', class='[##_tag_class_##]') [##_tag_name_##]
