.article-tag-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--small-space);
  font-size: var(--small-font-size);
  margin-top: var(--default-space);
}
.article-tag-container a::before {
  content: '# ';
}
.article-tag-container a {
  padding: var(--small-space) var(--small-space);
  margin: 0 var(--x-small-space) 0 0;
  display: block;
  color: var(--text-color);
  background-color: var(--light-gray-color);
  transition: all 0.1s ease-in-out;
}
.article-tag-container a:hover {
  color: var(--text-hover-color);
  background-color: var(--primary-color);
}
