body.dark-theme #article-container .index-item {
  box-shadow: 3px 3px 5px var(--dark-gray-color);
}

body.dark-theme #article-container .article-info a.title {
  color: var(--text-reverse-color);
}

body.dark-theme #article-container .article-info a.title:hover {
  color: var(--primary-color);
}
