#article-container #article-wrapper .index-item {
  display: flex;
  margin-bottom: var(--default-space);
  padding: var(--default-space);
  border-radius: var(--small-radius);
  box-shadow: 3px 3px 5px var(--light-gray-color);
}
#article-container #article-wrapper .index-item:last-child {
  margin-bottom: 0;
}

#article-container #article-wrapper .image-wrapper {
  display: block;
  width: 230px;
  height: 230px;
  position: relative;
  overflow: hidden;
  margin-right: var(--large-space);
  border-radius: var(--default-radius);
}
#article-container #article-wrapper .image-wrapper img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transform: translate(50, 50);
}

#article-container #article-wrapper .article-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#article-container #article-wrapper .article-info > * {
  margin-bottom: var(--default-space);
}
#article-container #article-wrapper .article-info > *:last-child {
  margin-bottom: 0;
}

#article-container #article-wrapper .article-info a.title {
  height: var(--large-font-size);
  line-height: var(--large-font-size);
  font-size: var(--large-font-size);
  font-weight: bold;
  color: var(--text-color);
  display: block;
}
#article-container #article-wrapper .article-info a.title:hover {
  color: var(--primary-color);
}

#article-container #article-wrapper .article-info .summary {
  max-height: 110px;
  color: var(--text-sub-color);
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  line-height: 1.7;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

#article-container #article-wrapper .date-n-category {
  color: var(--text-sub-color);
  height: var(--small-font-size);
  line-height: var(--small-font-size);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
}
#article-container #article-wrapper .date-n-category .date {
  margin-right: var(--small-space);
  display: flex;
  align-items: center;
}
#article-container #article-wrapper .date-n-category .date .uil-calender {
  margin-right: var(--x-small-space);
}
#article-container #article-wrapper .date-n-category .category {
  color: var(--text-sub-color);
  display: flex;
  align-items: center;
}
#article-container #article-wrapper .date-n-category .category .uil-bookmark {
  margin-right: var(--x-small-space);
}
#article-container #article-wrapper .date-n-category .category:hover {
  color: var(--secondary-color);
}

#article-container #article-wrapper .button-group {
  display: flex;
  flex-direction: column;
  margin-left: var(--default-space);
}
#article-container #article-wrapper .button-group > button {
  margin-bottom: var(--small-space);
}
#article-container #article-wrapper .button-group > button:last-child {
  margin-bottom: 0;
}
#article-container #article-wrapper .button-group .article-view-button,
#article-container #article-wrapper .button-group .article-clipboard-button {
  width: 50px;
  height: 50px;
  font-size: var(--default-font-size);
  background-color: var(--primary-light-color);
  color: var(--primary-color);
  border: none;
  border-radius: var(--small-radius);
  padding: 0;
  text-align: center;
  box-shadow: 3px 3px 5px var(--light-gray-color);
}
#article-container #article-wrapper .button-group .article-view-button:hover,
#article-container
  #article-wrapper
  .button-group
  .article-clipboard-button:hover {
  background-color: var(--primary-color);
  color: var(--text-hover-color);
  cursor: pointer;
}
