main .title-wrapper .date {
  color: var(--text-reverse-sub-color);
}
main .title-wrapper .title h1 a {
  color: var(--text-reverse-color);
}
main .title-wrapper .category a {
  color: var(--text-reverse-sub-color);
}
main .title-wrapper .title h1 a:hover {
  color: var(--primary-color);
}
main .title-wrapper .category a:hover {
  color: var(--secondary-color);
}
