main .title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main .title-wrapper > div {
  margin-bottom: var(--default-space);
}
main .title-wrapper > div:last-child {
  margin-bottom: 0;
}
main .title-wrapper {
  margin-bottom: var(--large-space);
}

main .title-wrapper .date {
  color: var(--text-sub-color);
  font-weight: bold;
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
}
main .title-wrapper .date .uil-calender {
  margin-right: var(--x-small-space);
}
main .title-wrapper .title h1 a {
  font-weight: bold;
  color: var(--text-color);
  font-size: var(--x-large-font-size);
}
main .title-wrapper .category a {
  color: var(--text-sub-color);
  font-weight: bold;
  display: flex;
  align-items: center;
}
main .title-wrapper .category a .uil-bookmark {
  margin-right: var(--x-small-space);
}
main .title-wrapper .title h1 a:hover {
  color: var(--primary-color);
}
main .title-wrapper .category a:hover {
  color: var(--secondary-color);
}

main #article-container #article-wrapper .article {
  line-height: 2;
  font-size: var(--default-font-size);
}
main #article-container #article-wrapper .article h1,
main #article-container #article-wrapper .article h2,
main #article-container #article-wrapper .article h3 {
  margin-bottom: var(--default-space);
  font-weight: bold;
}

main #article-container #article-wrapper .article pre {
  padding: 0;
  margin: 0;
}
main #article-container #article-wrapper .article pre code {
  padding: var(--default-font-size);
  font-family: Consolas, Menlo, Monaco, source-code-pro, 'Courier New',
    monospace;
  border-radius: var(--small-radius);
  margin: var(--small-space) 0;
  overflow-x: scroll;
  -ms-overflow-style: none;
}
main #article-container #article-wrapper .article pre code::-webkit-scrollbar {
  display: none;
}
