.reply-container {
  display: flex;
  flex-direction: column;
}
.reply-container .reply-list {
  margin-top: var(--large-space);
}

.reply-parent-wrapper .reply-patent-li {
  display: flex;
  flex-direction: column;
}
.reply-parent-wrapper .reply-item {
  display: flex;
  padding: var(--default-space) 0;
  margin-bottom: var(--large-space);
}
.reply-parent-wrapper .reply-item .img-wrapper {
  margin: var(--x-small-space) var(--default-space) 0 0;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}
.reply-parent-wrapper .reply-item .img-wrapper img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.reply-parent-wrapper .reply-item .content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.reply-item .content .name a {
  display: block;
  color: var(--text-sub-color);
  font-size: var(--small-font-size);
  transition: color 0.1s ease-in-out;
  margin-bottom: var(--default-space);
}
.reply-item .content .name a:hover {
  color: var(--primary-color);
}
.reply-item .content .desc {
  color: var(--text-color);
  margin-bottom: var(--default-space);
  word-break: break-word;
  line-height: 1.7;
}
.reply-item .content .control-group {
  color: var(--text-sub-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.reply-item .content .control-group .address,
.reply-item .content .control-group .modify,
.reply-item .content .control-group .write {
  margin-right: var(--small-space);
  color: var(--text-sub-color);
  transition: color 0.1s ease-in-out;
}
.reply-item .content .control-group .address:hover,
.reply-item .content .control-group .modify:hover,
.reply-item .content .control-group .write:hover {
  color: var(--primary-color);
}
.reply-item .content .control-group .date a {
  color: var(--secondary-color);
}
.reply-item .content .control-group .date a:hover {
  opacity: 0.8;
}
.reply-container .reply-list .reply-child-wrapper {
  margin-left: var(--large-space);
}
