.reply-container {
  display: flex;
  flex-direction: column;
}

/* Reply list */
.reply-container .reply-list {
  margin-top: var(--large-space);
}

.reply-parent-wrapper .reply-patent-li {
  display: flex;
  flex-direction: column;
}
.reply-parent-wrapper .reply-item {
  display: flex;
  padding: var(--default-space) 0;
  margin-bottom: var(--large-space);
}
.reply-parent-wrapper .reply-item .img-wrapper {
  margin: var(--x-small-space) var(--default-space) 0 0;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}
.reply-parent-wrapper .reply-item .img-wrapper img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.reply-parent-wrapper .reply-item .content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.reply-item .content .name,
.reply-item .content .name a {
  display: block;
  color: var(--text-sub-color);
  font-size: var(--small-font-size);
  transition: color 0.1s ease-in-out;
  margin-bottom: var(--default-space);
}
.reply-item .content .name a:hover {
  color: var(--primary-color);
}
.reply-item .content .desc {
  color: var(--text-color);
  margin-bottom: var(--default-space);
  word-break: break-word;
  line-height: 1.7;
}
.reply-item .content .control-group {
  color: var(--text-sub-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.reply-item .content .control-group .address,
.reply-item .content .control-group .modify,
.reply-item .content .control-group .write {
  margin-right: var(--small-space);
  color: var(--text-sub-color);
  transition: color 0.1s ease-in-out;
}
.reply-item .content .control-group .address:hover,
.reply-item .content .control-group .modify:hover,
.reply-item .content .control-group .write:hover {
  color: var(--primary-color);
}
.reply-item .content .control-group .date a {
  color: var(--secondary-color);
}
.reply-item .content .control-group .date a:hover {
  opacity: 0.8;
}
.reply-container .reply-list .reply-child-wrapper {
  margin-left: var(--large-space);
}

/* Reply write */
.reply-form {
  margin-top: var(--large-space);
}
.reply-form .form-item {
  display: flex;
  align-items: center;
  margin-bottom: var(--default-space);
}
.reply-form .form-item:last-child {
  margin-bottom: 0;
}
.reply-form .form-item label {
  display: flex;
  align-items: center;
  color: var(--text-sub-color);
  font-size: var(--small-font-size);
  width: 150px;
}
.reply-form .form-item label i.uil {
  margin-right: var(--x-small-space);
}
.reply-form .form-item input {
  margin: 0;
  padding: var(--small-space);
  border: none;
  border-radius: var(--small-radius);
  color: var(--text-color);
  background-color: var(--light-gray-color);
  width: 250px;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}
.reply-form .form-item input:focus {
  flex: 1;
  outline: none;
}
.reply-form .secret-item {
  display: flex;
  align-items: center;
}
.reply-form .secret-item label {
  display: flex;
  align-items: center;
  color: var(--text-sub-color);
  font-size: var(--small-font-size);
}
.reply-form .secret-item label i.uil {
  margin-right: var(--x-small-space);
}
.reply-form .secret-item label {
  margin-right: var(--small-space);
}
.reply-form textarea {
  margin-top: var(--default-space);
  width: 100%;
  box-sizing: border-box;
  padding: var(--small-space);
  color: var(--text-color);
  background-color: var(--light-gray-color);
  border: none;
  height: 150px;
  transition: height 0.1s ease-in-out;
  border-radius: var(--default-radius);
  line-height: 1.7;
}
.reply-form textarea:focus {
  outline: none;
}
.reply-form .reply-submit-button {
  padding: var(--small-space) var(--default-space);
  margin: var(--default-space) 0 0 0;
  border: none;
  color: var(--text-hover-color);
  background-color: var(--primary-color);
  transition: background-color 0.1s ease-in-out;
  border-radius: var(--small-radius);
}
.reply-form .reply-submit-button:hover {
  cursor: pointer;
  background-color: var(--primary-hover-color);
}
