/* Reply list */
.reply-item .content .name a {
  color: var(--text-reverse-sub-color);
}
.reply-item .content .name a:hover {
  color: var(--primary-color);
}
.reply-item .content .desc {
  color: var(--text-reverse-color);
}
.reply-item .content .control-group {
  color: var(--text-reverse-sub-color);
}
.reply-item .content .control-group .address,
.reply-item .content .control-group .modify,
.reply-item .content .control-group .write {
  color: var(--text-reverse-sub-color);
}
.reply-item .content .control-group .address:hover,
.reply-item .content .control-group .modify:hover,
.reply-item .content .control-group .write:hover {
  color: var(--primary-color);
}

/* Reply write */
.reply-form .form-item label {
  color: var(--text-reverse-sub-color);
}
.reply-form .form-item input,
.reply-form #inputCaptcha {
  color: var(--text-reverse-color);
  background-color: var(--dark-gray-color);
}
.reply-form .secret-item label {
  color: var(--text-reverse-sub-color);
}
.reply-form textarea {
  color: var(--text-reverse-color);
  background-color: var(--dark-gray-color);
}
