s_paging
  .paging-container
    a.paging-prev-n-next-btn([##_prev_page_##], class='[##_no_more_prev_##]')
      include ../../icons/arrow-left-short-icon
    .numbox
      s_paging_rep
        a.num([##_paging_rep_link_##]) [##_paging_rep_link_num_##]
    a.paging-prev-n-next-btn([##_next_page_##], class='[##_no_more_next_##]')
      include ../../icons/arrow-right-short-icon
