@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* ========== Variable ========== */
:root {
  /* ========== Colors ========== */
  --primary-color: #1c7ed6;
  --primary-sub-color: #74c0fc;
  --secondary-color: #e64980;
  --secondary-sub-color: #f783ac;
  --white-color: #ffffff;
  --black-color: #212529;
  --black-sub-color: #495057;
  --gray-color0: #f1f3f5;
  --gray-color1: #dee2e6;
  --gray-color2: #d9d9d9;

  /* ========== Font & typography ========== */
}

/* ========== CSS Initialization ========== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* ========== Common Styles ========== */
body {
  /* color */
  background-color: var(--white-color);
  color: var(--black-color);
  /* width */
  max-width: 1300px;
  margin: 0 auto;
  font-size: 18px;
  /* font */
  font-family: "Ubuntu", "Noto Sans KR", sans-serif;
}

/* ========== Header ========== */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  height: 100%;
}
.nav .sidebar__open {
  display: none;
}
.nav a.nav__logo {
  font-weight: bold;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav a.nav__logo:hover {
  cursor: pointer;
  color: var(--primary-sub-color);
}
.nav .nav__menu {
  flex: 1;
}
.nav ul.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.nav__list > li.nav__item {
  margin: 5px 10px;
}
li.nav__item > a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--black-color);
}
li.nav__item > a:hover {
  cursor: pointer;
  color: var(--primary-color);
}
li.nav__item > a > span {
  padding-left: 2px;
  font-size: 0.75em;
}
/* search */
.search__toggle .uil-times {
  display: none;
}
.search {
  display: none;
  width: 100%;
}
.search__group {
  display: flex;
  width: calc(100% - 60px);
  margin: 0 30px;
  box-sizing: border-box;
  flex-direction: row;
  border: 1px solid var(--primary-color);
}
.search__group > input,
.search__group > button {
  border: none;
  padding: 10px;
  margin: 0;
}
.search__group .search__input {
  flex: 1;
  background-color: inherit;
  color: var(--primary-color);
}
.search__group .search__input:focus {
  outline: none;
}
.search__group .search__submit {
  width: 80px;
  height: 100%;
  color: var(--white-color);
  background-color: var(--primary-color);
}
.search__group .search__submit:hover {
  cursor: pointer;
}

/* ========== Main ========== */
main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* ========== Sidebar ========== */
#sidebar {
  display: block;
  width: 300px;
  padding: 20px;
}
.sidebar__item {
  margin-bottom: 25px;
  font-size: 0.9em;
}
.sidebar__item .sidebar__title {
  font-weight: bold;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--primary-color);
}
.sidebar__item .sidebar__title > i {
  margin-right: 3px;
}
.sidebar__item .sidebar__title > span {
  flex: 1;
}
.sidebar__item .sidebar__contents {
  padding: 0 5px;
  font-size: 0.9em;
}
/* Sidebar Close Button */
.sidebar__close {
  margin-bottom: 10px;
  font-size: 0.9em;
  text-align: right;
  display: none;
}
.sidebar__close:hover {
  cursor: pointer;
  color: var(--primary-color);
}
/* Notice */
.sidebar .notice a {
  color: var(--black-color);
  display: inline-block;
  padding: 10px 0;
  transition: color 0.1s ease-in-out;
}
.sidebar .notice a::before {
  content: "*";
  font-weight: bold;
}
.sidebar .notice a:hover {
  color: var(--secondary-color);
}
/* Category */
.sidebar .category .tt_category a {
  color: var(--black-color);
  display: inline-block;
  padding: 10px 0;
  transition: color 0.1s ease-in-out;
}
.sidebar .category .tt_category a:hover {
  color: var(--secondary-color);
}
.sidebar .category .tt_category .sub_category_list a {
  padding-left: 10px;
}
.sidebar .category .tt_category .sub_category_list a::before {
  content: "-";
  font-weight: bold;
}
.sidebar .category_list > li {
  border-top: 1px dashed var(--gray-color1);
}
.sidebar .category .c_cnt {
  display: none;
}
/* Recent & Popular Post */
.sidebar .sidebar__post .sidebar__contents > ul > li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.sidebar .sidebar__post .post__image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to bottom right,
    var(--primary-color),
    var(--secondary-color)
  );
  transition: opacity 0.1s ease-in-out;
}
.sidebar .sidebar__post .post__image img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}
.sidebar .sidebar__post .post__image:hover {
  opacity: 0.5;
  cursor: pointer;
}
.sidebar .sidebar__post .post__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.sidebar .sidebar__post .post__content a {
  color: var(--black-color);
  transition: color 0.1s ease-in-out;
}
.sidebar .sidebar__post .post__content a:hover {
  color: var(--secondary-color);
}
.sidebar .sidebar__post .post__content .post__tit {
  margin-bottom: 7px;
}
.sidebar .sidebar__post .post__content .post__ctg {
  font-size: 0.9em;
  color: var(--black-sub-color);
}
/* Comment */
.sidebar .comment .sidebar__contents ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.sidebar .comment .sidebar__contents ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8px;
  padding-bottom: 8px;
}
.comment li.balloon {
  position: relative;
  height: 100%;
  padding: 10px;
  background: var(--gray-color0);
  border-radius: 10px;
}
.comment li.balloon::after {
  border-top: 15px solid var(--gray-color0);
  border-left: 13px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  content: "";
  position: absolute;
  top: 10px;
  left: -13px;
}
.sidebar .comment .sidebar__contents .comment__link {
  color: var(--black-color);
  margin-top: 5px;
  transition: color 0.1s ease-in-out;
}
.sidebar .comment .sidebar__contents .comment__link:hover {
  color: var(--secondary-color);
}
.sidebar .comment .sidebar__contents .comment__info {
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.comment__name,
.comment__date {
  color: var(--black-sub-color);
}
.comment__name::after {
  content: " ";
  margin: 0 4px 0 2px;
}
/* Tag */
.sidebar .tag .sidebar__contents ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.sidebar .tag .sidebar__contents ul > li a {
  display: block;
  border: 1px solid var(--gray-color2);
  color: var(--black-sub-color);
  background-color: var(--white-color);
  transition: all 0.1s ease-in-out;
  padding: 5px;
  margin: 0 5px 5px 0;
}
.sidebar .tag .sidebar__contents ul > li a:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white-color);
}
/* Counter */
.sidebar .counter .counter__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.sidebar .counter .counter__item .counter__tit {
  margin-right: 10px;
}
.sidebar .counter .counter__item:last-child .counter__tit {
  color: var(--secondary-color);
}
.sidebar .counter .counter__item .counter__today {
  margin-right: 10px;
}
.sidebar .counter .counter__item .counter__deltagroup {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sidebar .counter .counter__item .counter__delta {
  font-size: 0.9em;
  flex: 1;
  font-weight: bold;
}
/* ========== Content ========== */
#content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}
.content__item .content__tit {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  margin-bottom: 1em;
  font-weight: bold;
}
.content__item .content__tit i {
  margin-right: 3px;
}
/* Tag Cloud */
.tag__cloud .tag__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.tag__cloud .tag__list .tag__item {
  margin: 0 10px 10px 0;
}
.tag__cloud .tag__list .tag__item a {
  display: block;
  padding: 10px;
  color: var(--black-color);
  border: 1px solid var(--gray-color2);
}
.tag__cloud .tag__list .tag__item a:hover {
  color: var(--white-color);
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}
/* Guestbook */

/* ========== Footer ========== */
footer {
  display: flex;
}

@media screen and (max-width: 1300px) {
}
@media screen and (max-width: 960px) {
  .nav .sidebar__open {
    display: block;
    margin-right: 15px;
  }
  .nav .sidebar__open:hover {
    cursor: pointer;
    color: var(--primary-color);
  }

  /* ========== Sidebar ========== */
  #sidebar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white-color);
    opacity: 0.9;
    z-index: 80;
    width: 350px;
    border-right: 1px solid var(--gray-color1);
    box-sizing: border-box;
  }
  .sidebar__close {
    display: block;
  }
}
@media screen and (max-width: 720px) {
  /* ========== Common Styles ========== */
  body {
    margin-bottom: 110px;
  }
  /* ========== Header ========== */
  .nav__menu,
  .search {
    box-shadow: 0px -3px 5px -2px var(--gray-color1);
    background-color: var(--white-color);
    height: 50px;
  }
  .nav__menu {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 98;
  }
  .nav__list {
    width: 100%;
    text-align: center;
  }
  .nav__list > .nav__item {
    flex: 1;
  }
  .nav__list > .nav__item > a > span {
    display: none;
  }
  .search {
    position: fixed;
    bottom: 50px;
    left: 0;
    width: 100%;
    z-index: 99;
    align-items: center;
    justify-content: center;
  }
  /* ========== Sidebar ========== */
  #sidebar {
    width: 100%;
    padding-bottom: 110px;
  }
}
