.floating-btn-group
  button#floating-like-btn.btn.floating-btn
    include ../icons/suit-heart-icon
    include ../icons/suit-heart-fill-icon
  button#floating-theme-btn.btn.floating-btn
    include ../icons/sun-icon
    include ../icons/moon-icon
  button#floating-subscribe-btn.btn.floating-btn
    include ../icons/star-icon
  button#floating-scroll-top-btn.btn.floating-btn
    include ../icons/chevron-bar-up-icon
