.menu
  button#guestbook-btn.btn.btn-text
    include ../icons/book-icon
  button#tag-cloud-btn.btn.btn-text
    include ../icons/tags-icon
  button#theme-btn.btn.btn-text
    include ../icons/moon-icon
    include ../icons/sun-icon
  button#write-btn.btn.btn-text
    include ../icons/pencil-icon
  button#manage-btn.btn.btn-text
    include ../icons/gear-icon
