.menu
  button#theme-btn.btn.btn-text
    include ../icons/moon-icon
    include ../icons/sun-icon
  button#write-btn.btn.btn-text
    include ../icons/pencil-icon
  button#manage-btn.btn.btn-text
    include ../icons/gear-icon
