.menu
  button#theme-btn.btn.btn-text(aria-label='Toggle theme button on menu')
    include ../icons/moon-icon
    include ../icons/sun-icon
  button#guestbook-btn.btn.btn-text(aria-label='Move guestbook button on menu')
    include ../icons/book-icon
  button#tag-cloud-btn.btn.btn-text(aria-label='Move tag cloud page button on menu')
    include ../icons/tags-icon
  button#write-btn.btn.btn-text(aria-label='Move write page button on menu')
    include ../icons/pencil-icon
  button#manage-btn.btn.btn-text(aria-label='Move manage page button on menu')
    include ../icons/gear-icon
