s_not_var_loading-hide
  #loading
    .loading-container
      .profile-img-wrapper
        img(src='[##_image_##]', alt='profile on loading')
      .stick-wrapper
        .loading-stick
        .loading-stick
        .loading-stick
        .loading-stick
        .loading-stick
        .loading-stick
      p Loading...
