.permalink-article-container
  s_permalink_article_rep
    a(href='[##_article_rep_link_##]') [##_article_rep_title_##]
    a(href='[##_article_rep_category_link_##]') [##_article_rep_category_##]
    .date [##_article_rep_date_##]
    .article [##_article_rep_desc_##]
