s_not_var_intro-card-visible
  .intro-card
    .img-wrapper
      img(src='[##_image_##]', alt='profile')
    .intro
      p.blog-name [##_title_##]
      p.blogger @[##_blogger_##]
      s_if_var_intro-card-desc
        p.desc [##_var_intro-card-desc_##]
