.floating-btn-group
  button#floating-like-btn.btn.floating-btn(aria-label='Like button')
    include ../icons/suit-heart-icon
    include ../icons/suit-heart-fill-icon
  s_not_var_toggle-theme-disabled
    button#floating-theme-btn.btn.floating-btn(aria-label='Toggle theme button')
      include ../icons/sun-icon
      include ../icons/moon-icon
  button#floating-subscribe-btn.btn.floating-btn(aria-label='Subscribe button')
    include ../icons/star-icon
  button#floating-scroll-top-btn.btn.floating-btn(aria-label='Scroll to top button')
    include ../icons/chevron-bar-up-icon
