.recommend-card {
  background-color: var(--dark-gray-color);
  color: var(--text-reverse-color);
  box-shadow: none;
}
.recommend-card .summary-container .title {
  color: var(--text-reverse-color);
}
.recommend-card .summary-container a.summary {
  color: var(--text-reverse-color);
}
.recommend-card .summary-container a.summary:hover {
  color: var(--primary-color);
}
.recommend-card .summary-container .date {
  color: var(--text-reverse-sub-color);
}
