doctype html
html(lang='ko')
  head
    include head/meta
    include head/import
    title [##_page_title_##]
  body
    include progress-bar/index
    include header/index
    .container
      include sidebar/index
      .main-container
        include main/index
        include footer/index
    include search/search-popup
    script(type='text/javascript')
