doctype html
html(lang='ko')
  head
    include head/meta
    include head/import
    title [##_page_title_##]
  body
    include header/index
    .main-container 
      include sidebar/index
      include main/index
    include footer/index
    script(type='text/javascript')
