footer
  .copyright-container
    a.link-sub.link-primary(href='/', target='_blank') [##_title_##] :: [##_blogger_##]
    .skin-copyright
      span Copyright
        a(href='https://memostack.tistory.com/', target='_blank') MemoStack :: Bluemiv
      span Designed by
        a(href='https://memostack.tistory.com/', target='_blank') MemoStack :: Bluemiv
  .site-link-container
    a.link-item.link-sub.link-primary site1
    a.link-item.link-sub.link-primary site2
    a.link-item.link-sub.link-primary site3
    a.link-item.link-sub.link-primary site4
    a.link-item.link-sub.link-primary site5
  .sns-link-container
    a.link-item.link-sub.link-primary
      include ../icons/email-icon
      span email
    a.link-item.link-sub.link-primary
      include ../icons/phone-icon
      span 010-1234-5678
    a.link-item.link-sub.link-primary
      include ../icons/github-icon
      span github
    a.link-item.link-sub.link-primary
      include ../icons/instagram-icon
      span instagram
    a.link-item.link-sub.link-primary
      include ../icons/twitter-icon
      span twitter
    a.link-item.link-sub.link-primary
      include ../icons/youtube-icon
      span twitter
    a.link-item.link-sub.link-primary
      include ../icons/twitch-icon
      span twitch
