#scroll-top-button,
#float-theme-button {
  position: fixed;
  right: 100px;
  bottom: -500px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 99;
  background-color: var(--light-gray-color);
  color: var(--text-color);
  font-size: var(--default-font-size);
  transition: 0.1s bottom ease-in-out;
}
.container_postbtn .btn_subscription {
  position: fixed;
  right: 100px;
  bottom: -500px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px !important;
  height: 60px !important;
  border-radius: 100% !important;
  border: none !important;
  padding: 0;
  margin: 0;
  z-index: 99;
  background-color: var(--light-gray-color) !important;
  color: var(--text-color) !important;
  font-size: var(--default-font-size) !important;
  transition: 0.1s bottom ease-in-out;
}
#scroll-top-button:hover,
#float-theme-button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-hover-color);
}

#float-theme-button .uil-sun {
  display: none;
}

.container_postbtn .btn_subscription:hover {
  background-color: var(--primary-color) !important;
  color: var(--text-hover-color) !important;
}

@media screen and (max-width: 992px) {
  #scroll-top-button,
  #float-theme-button,
  .container_postbtn .btn_subscription {
    right: 70px;
  }
}

@media screen and (max-width: 768px) {
  #scroll-top-button,
  #float-theme-button,
  .container_postbtn .btn_subscription {
    right: 50px;
  }
}

@media screen and (max-width: 576px) {
  #scroll-top-button,
  #float-theme-button,
  .container_postbtn .btn_subscription {
    right: 30px;
  }
}
