#scroll-top-button,
#float-theme-button,
#btn-like {
  background-color: var(--dark-gray-color);
  color: var(--text-reverse-color);
}

.container_postbtn .btn_subscription {
  background-color: var(--dark-gray-color) !important;
  color: var(--text-reverse-color) !important;
}
#scroll-top-button:hover,
#float-theme-button:hover,
#btn-like:hover {
  background-color: var(--primary-color);
  color: var(--text-hover-color);
}
.container_postbtn .btn_subscription:hover {
  background-color: var(--primary-color) !important;
  color: var(--text-hover-color) !important;
}
