@import './profile';
@import './category';
@import './notice';

aside.sidebar {
  width: 340px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: $pd-xl;
  padding: $pd-md;
  border-right: 1px dashed $gray2;

  .sidebar-item {
    display: flex;
    flex-direction: column;
    row-gap: $pd-md;

    .title {
      display: flex;
      align-items: center;
      column-gap: $pd-sm;
      color: $font-sub-color;

      svg {
        font-size: $fs-sm;
      }

      h3 {
        font-size: $fs-sm;
        font-weight: normal;
      }
    }
  }
}
