@import 'index-article';
@import 'permalink-article';
@import 'common-article';

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .upper-ad-container,
  .lower-ad-container {
    max-width: 1380px;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .article-container {
    max-width: 1380px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: $pd-lg;
  }
}
