body.dark-theme #alert {
  box-shadow: none;
  border: 1px solid var(--dark-gray-color);
  background-color: var(--dark-gray-color);
}
body.dark-theme #alert .uil-check-circle {
  color: #51cf66;
}
body.dark-theme #alert .alert-text {
  color: var(--text-reverse-color);
}
