<header class="fade-in-box-1">
  <div class="search-wrapper">
    <s_search>
      <input
        type="text"
        id="search"
        name="[##_search_name_##]"
        value="[##_search_text_##]"
        placeholder="Search"
      />
      <i class="uil uil-search"></i>
    </s_search>
  </div>
  <div class="button-group">
    <s_if_var_dark-theme-on-off>
      <button id="theme-button" class="header-button">
        <i class="uil uil-sun"></i>
        <i class="uil uil-moon"></i>
      </button>
    </s_if_var_dark-theme-on-off>
    <button id="post-button" class="header-button">
      <i class="uil uil-pen"></i>
    </button>
    <button id="admin-button" class="header-button">
      <i class="uil uil-setting"></i>
    </button>
  </div>
</header>
