<header class="fade-in-box-1">
  <div class="search-wrapper">
    <s_search>
      <input
        type="text"
        id="search"
        name="[##_search_name_##]"
        value="[##_search_text_##]"
        placeholder="Search"
      />
      <i class="uil uil-search"></i>
    </s_search>
  </div>
  <div class="button-group">
    <button id="theme-button">
      <i class="uil uil-sun"></i>
      <i class="uil uil-moon"></i>
    </button>
    <button id="admin-button">
      <i class="uil uil-setting"></i>
    </button>
  </div>
</header>
