body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .main-container {
    flex: 1;
    display: flex;
  }
}
