body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    flex: 1;
    display: flex;

    .main-container {
      display: flex;
      flex-direction: column;
      row-gap: $pd-lg;
    }
  }
}
