aside.sidebar {
  width: 340px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: $pd-xl;
  padding: $pd-md;
  border-right: 1px dashed $gray2;

  .sidebar-item {
    display: flex;
    flex-direction: column;
    row-gap: $pd-md;

    .title {
      display: flex;
      align-items: center;
      column-gap: $pd-sm;
      color: $font-sub-color;

      svg {
        font-size: $fs-sm;
      }

      h3 {
        font-size: $fs-sm;
        font-weight: normal;
      }
    }
  }

  #profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: $pd-md;

    .img-wrapper {
      width: 120px;
      height: 120px;
      border-radius: $radius-circle;
      overflow: hidden;
      box-shadow: $box-shadow;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: $pd-md;

      .name {
        font-weight: bold;
      }

      .desc {
        color: $font-sub-color;
        font-size: $fs-sm;
      }
    }
  }

  #category {
    ul {
      list-style: none;
    }

    .tt_category {
      li,
      a {
        box-sizing: border-box;
      }

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        column-gap: $pd-sm;
        color: $font-color;
        transition: $transition;
        padding: $pd-md;
        border-radius: $radius-md;

        .c_cnt {
          color: $font-sub-color;
          font-size: $fs-xs;
        }

        &:hover {
          box-shadow: $box-shadow;
        }
      }

      a.link_tit,
      a.link_item {
        &:hover {
          color: $primary;
          background-color: $primary-light;

          .c_cnt {
            color: $primary;
          }
        }
      }

      a.link_sub_item {
        &:hover {
          color: $secondary;
          background-color: $secondary-light;

          .c_cnt {
            color: $secondary;
          }
        }
      }
    }
  }
}

.dark-theme {
  aside.sidebar {
    #category {
      .tt_category {
        a {
          color: $d-font-color;

          .c_cnt {
            color: $d-font-sub-color;
          }

          &:hover {
            box-shadow: $d-box-shadow;
          }
        }

        a.link_tit,
        a.link_item {
          &:hover {
            color: $d-primary-light;
            background-color: $d-primary-dark;

            .c_cnt {
              color: $d-primary-light;
            }
          }
        }

        a.link_sub_item {
          &:hover {
            color: $d-secondary-light;
            background-color: $d-secondary-dark;

            .c_cnt {
              color: $d-secondary-light;
            }
          }
        }
      }
    }
  }
}
