aside.sidebar {
  width: 340px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: $pd-lg;
  padding: $pd-md;
  border-right: 1px dashed $gray2;

  .sidebar-item {
    display: flex;
    flex-direction: column;
    row-gap: $pd-md;

    .title {
      display: flex;
      align-items: center;
      column-gap: $pd-sm;
      color: $font-sub-color;

      svg {
        font-size: $fs-sm;
      }

      h3 {
        font-size: $fs-sm;
        font-weight: normal;
      }
    }
  }

  #profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: $pd-md;

    .img-wrapper {
      width: 120px;
      height: 120px;
      border-radius: $radius-circle;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: $pd-md;

      .name {
        font-weight: bold;
      }

      .desc {
        color: $font-sub-color;
        font-size: $fs-sm;
      }
    }
  }

  #category {
    ul {
      list-style: none;
    }

    .tt_category {
      li,
      a {
        box-sizing: border-box;
      }

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        column-gap: $pd-xs;
        padding: $pd-sm;
        border-radius: $radius-md;
        color: $font-color;
        transition: $transition;
        &:hover {
          box-shadow: $btn-box-shadow;
        }

        .c_cnt {
          background-color: $gray0;
          color: $font-sub-color;
          padding: 2px 4px;
          border-radius: $radius-sm;
          font-size: $fs-xs;
        }
      }

      a.link_item {
        &:hover {
          background-color: $primary-light;
          color: $primary-dark;
        }
      }

      a.link_sub_item {
        column-gap: $pd-md;
        &:before {
          content: ">";
          font-size: $fs-xs;
          color: $font-sub-color;
        }
        &:hover {
          background-color: $secondary-light;
          color: $secondary-dark;
        }
      }
    }
  }
}
