#toc-container {
  width: 0;
}
#toc-container .toc-wrapper {
  position: sticky;
  top: var(--small-space);
  left: 0;
  display: none;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding: var(--default-space) var(--small-space) var(--default-space)
    var(--default-space);
  border-left: dashed 2px var(--light-gray-color);
  max-height: 80vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
#toc-container .toc-wrapper::-webkit-scrollbar {
  display: none;
}
#toc-container .toc-wrapper a.toc {
  display: block;
  margin-bottom: var(--small-space);
  color: var(--text-sub-color);
  font-size: var(--small-font-size);
  line-height: 1.7;
}
#toc-container .toc-wrapper a.toc:hover {
  color: var(--primary-color);
}
#toc-container .toc-wrapper a.toc:last-child {
  margin-bottom: 0;
}
#toc-container .toc-wrapper a.toc2 {
  margin-left: var(--x-small-space);
}
#toc-container .toc-wrapper a.toc3 {
  margin-left: calc(var(--x-small-space) + var(--x-small-space));
}
