:root {
  /* font */
  --x-small-font-size: 8px;
  --small-font-size: 14px;
  --default-font-size: 16px;
  --large-font-size: 22px;
  --x-large-font-size: 36px;

  /* radius */
  --small-radius: 6px;
  --default-radius: 11px;

  /* space */
  --x-small-space: 6px;
  --small-space: 14px;
  --default-space: 18px;
  --large-space: 32px;
  --x-large-space: 48px;

  /* colors */
  --primary-color: #5c7cfa;
  --primary-hover-color: #3b5bdb;
  --secondary-color: #f06595;
  --dark-gray-color: #495057;
  --light-gray-color: #f1f3f5;
  /* colors - light */
  --text-color: #373c46;
  --text-sub-color: #868e96;
  --text-hover-color: #f8f9fa;
  --background-color: #ffffff;
  /* colors - dark */
  --text-reverse-color: #e9ecef;
  --text-reverse-sub-color: #9da6b8;
  --background-reverse-color: #343a40;
}

body {
  font-size: var(--default-font-size);
  font-family: 'Noto Sans KR', serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

body.dark-theme {
  color: var(--text-reverse-color);
  background-color: var(--background-reverse-color);
}

body a,
body span,
body button {
  transition-property: color, background-color;
  transition-duration: 0.1s, 0.2s;
  transition-timing-function: ease-in-out;
}
