:root {
  /* font */
  --x-small-font-size: 8px;
  --small-font-size: 14px;
  --default-font-size: 16px;
  --large-font-size: 22px;
  --x-large-font-size: 36px;

  /* radius */
  --default-radius: 11px;

  /* space */
  --x-small-space: 8px;
  --small-space: 14px;
  --default-space: 18px;
  --large-space: 24px;

  /* colors */
  --primary-color: #6C63FF;
  --primary-hover-color: #4640a5;
  --secondary-color: #F8A4D8;
  /* colors - light */
  --text-color: #373c46;
  --sub-text-color: #9da6b8;
  --background-color: #ffffff;
  /* colors - dark */
  --text-reverse-color: #f8f9fa;
  --sub-text-reverse-color: #9da6b8;
  --background-reverse-color: #212529;
}
