#root-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: var(--xxl-screen);
  padding: 0;
  margin: 0 auto;
}

#main-container {
  flex: 1;
}

#main-container main {
  padding: var(--default-space) 0;
}
#main-container main #article-container {
  display: flex;
}
#main-container main #article-container #article-wrapper {
  flex: 1;
  box-sizing: border-box;
  word-break: break-word;
  padding: 0 var(--default-space);
}

@media screen and (max-width: 1200px) {
  #root-container {
    max-width: var(--l-screen);
  }
}

@media screen and (max-width: 992px) {
  #root-container {
    max-width: var(--m-screen);
  }

  #main-container main #article-container #article-wrapper {
    padding: 0 var(--small-space) 0 var(--x-small-space);
  }
}
