body {
  font-size: var(--default-font-size);
  font-family: 'Noto Sans KR', serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

body.dark-theme {
  color: var(--text-reverse-color);
  background-color: var(--background-reverse-color);
}

#root-container {
  display: flex;
  flex-direction: row;
  width: 1400px;
  padding: 0;
  margin: 0 auto;
}

#main-layout {
  flex: 1;
}
