#root-container {
  display: flex;
  flex-direction: row;
  width: var(--xxl-screen);
  padding: 0;
  margin: 0 auto;
}

#main-container {
  flex: 1;
  padding: 0 var(--default-space);
}

#main-container main {
  display: flex;

  padding: var(--default-space) 0;
}
