.recommend-article-card-container {
  position: fixed;
  bottom: -800px;
  padding: $pd-md;
  width: 340px;
  min-height: 130px;
  display: flex;
  align-items: center;
  column-gap: $pd-md;
  background-color: $light-gray-background-color;
  box-shadow: $box-shadow;
  z-index: 60;
  border-radius: $radius-md;
  transition: $transition;
  transition-property: bottom;

  a.img-wrapper {
    display: block;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: $radius-circle;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      box-shadow: $box-shadow;
    }
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: $pd-md;

    p.card-type {
      font-size: $fs-sm;
      color: $font-sub-color;
      font-weight: bold;
    }

    a {
      line-height: 1.5;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    p.date {
      font-size: $fs-sm;
      color: $font-sub-color;
    }
  }
}

.prev-recommend-article-card-container {
  left: 8vw;
}

.next-recommend-article-card-container {
  right: 10vw;
}

.dark-theme {
  .recommend-article-card-container {
    background-color: $dark-gray-background-color;
    box-shadow: $d-box-shadow;

    a.img-wrapper {
      &:hover {
        box-shadow: $d-box-shadow;
      }
    }

    .info {
      p.date {
        color: $d-font-sub-color;
      }
    }
  }
}

@media screen and (max-width: $bp-md) {
  .recommend-article-card-container {
    width: 280px;
    padding: $pd-sm;

    a.img-wrapper {
      width: 100px;
      height: 100px;
    }
  }

  .prev-recommend-article-card-container {
    left: 5vw;
  }

  .next-recommend-article-card-container {
    right: 12vw;
  }
}

@media screen and (max-width: $bp-sm) {
  .recommend-article-card-container {
    display: none;
  }
}
