.tag-cloud-container {
  display: flex;
  flex-direction: column;
  row-gap: $pd-lg;

  .tag-title {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: $pd-sm;
    font-size: $fs-lg;
    color: $font-sub-color;
    font-weight: normal;
  }
}

.dark-theme .tag-cloud-container {
  .tag-title {
    color: $d-font-sub-color;
  }
}
