meta(
  name='viewport',
  content='width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=5'
)
meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(charset='utf-8')
meta(http-equiv='Content-Script-Type', content='text/javascript')
meta(http-equiv='Content-Style-Type', content='text/css')
meta(http-equiv='x-ua-compatible', content='IE=edge')

meta(name='title', content='[##_page_title_##] :: [##_title_##]')
meta(name='description', content='[##_desc_##]')
meta(http-equiv='author', content='[##_blogger_##]')
meta(http-equiv='copyright', content='[##_blogger_##]')
