/* button */
.btn {
  text-decoration: none;
  cursor: pointer;
  transition: $transition;
  border-radius: $radius-md;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-text {
  border: none;
  background-color: inherit;
  color: $font-color;
  &:hover {
    background-color: $primary-light;
    color: $primary;
    box-shadow: $box-shadow;
  }
}

/* dark theme  */
.dark-theme {
  /* button */
  .btn-text {
    color: $d-font-color;
    &:hover {
      color: $d-primary-light;
      background-color: $d-primary-dark;
      box-shadow: $d-box-shadow;
    }
  }
}
