$primary0: #edf2ff;
$primary1: #dbe4ff;
$primary2: #bac8ff;
$primary3: #91a7ff;
$primary4: #748ffc;
$primary5: #5c7cfa;
$primary6: #4c6ef5;
$primary7: #4263eb;
$primary8: #3b5bdb;
$primary9: #364fc7;

$secondary0: #fff0f6;
$secondary1: #ffdeeb;
$secondary2: #fcc2d7;
$secondary3: #faa2c1;
$secondary4: #f783ac;
$secondary5: #f06595;
$secondary6: #e64980;
$secondary7: #d6336c;
$secondary8: #c2255c;
$secondary9: #a61e4d;

$gray0: #f8f9fa;
$gray1: #f1f3f5;
$gray2: #e9ecef;
$gray3: #dee2e6;
$gray4: #ced4da;
$gray5: #adb5bd;
$gray6: #868e96;
$gray7: #495057;
$gray8: #343a40;
$gray9: #212529;

/* font size */
$fs-xxs: 0.7rem;
$fs-xs: 0.8rem;
$fs-sm: 0.9rem;
$fs-md: 1rem;
$fs-lg: 1.75rem;
$fs-xl: 2rem;

/* padding */
$pd-xs: 0.6rem;
$pd-sm: 0.8rem;
$pd-md: 1rem;
$pd-lg: 2rem;
$pd-xl: 3rem;

/* radius */
$radius-sm: 4px;
$radius-md: 8px;
$radius-circle: 100%;

/* transition */
$transition: all 0.15s ease-in-out;

/* primary color */
// light theme
$primary-light: #f0f5ff;
$primary: #2f54eb;
$primary-dark: #10239e;
// dark theme
$d-primary-light: #d2e0fa;
$d-primary: #2b4acb;
$d-primary-dark: #1c2755;

/* secondary color */
// light theme
$secondary-light: #f9f0ff;
$secondary: #722ed1;
$secondary-dark: #391085;
// dark theme
$d-secondary-light: #ebd7fa;
$d-secondary: #642ab5;
$d-secondary-dark: #301c4d;

/* font & background color */
// light theme
$font-color: $gray9;
$font-sub-color: $gray6;
$bg-color: #ffffff;
// dark theme
$d-font-color: $gray1;
$d-font-sub-color: $gray5;
$d-bg-color: $gray8;

/* box shadow */
// light theme
$box-shadow: 0px 5px 12px 1px $gray2;
$primary-box-shadow: 0px 5px 12px 1px $primary0;
$secondary-box-shadow: 0px 5px 12px 1px $secondary0;
// dark theme
$d-box-shadow: 0px 5px 12px 1px $gray9;
$d-primary-box-shadow: 0px 5px 12px 1px $primary4;
$d-secondary-box-shadow: 0px 5px 12px 1px $secondary4;
