header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

header .theme-button {
  width: 50px;
  height: 50px;
  font-size: var(--default-font-size);
  background-color: transparent;
  border: none;
  border-radius: var(--small-radius);
  padding: 0;
  text-align: center;
}
header .theme-button:hover {
  background-color: var(--primary-color);
  color: var(--text-hover-color);
  cursor: pointer;
}
header #moon-button {
  display: none;
}

header .search-wrapper {
  border-radius: var(--small-radius);
  background-color: var(--light-gray-color);
  padding: var(--small-space);
  display: flex;
  align-items: center;
  width: 220px;
  height: 50px;
  box-sizing: border-box;
  color: var(--text-color);
}
header .search-wrapper #search {
  border: none;
  padding: 0;
  margin: 0;
  flex: 1;
  background-color: var(--light-gray-color);
}
header .search-wrapper #search:focus {
  outline: none;
}
