/* Search */
body.dark-theme header .search-wrapper {
  background-color: var(--dark-gray-color);
  color: var(--text-color);
}
body.dark-theme header .search-wrapper #search {
  background-color: var(--dark-gray-color);
}

/* Header Buttons */
body.dark-theme header .button-group #theme-button,
body.dark-theme header .button-group #admin-button {
  color: var(--text-reverse-color);
}
body.dark-theme header .button-group #theme-button:hover,
body.dark-theme header .button-group #admin-button:hover {
  background-color: var(--primary-color);
  color: var(--text-hover-color);
}
