main
  .upper-ad-container [##_revenue_list_upper_##]
  .article-container
    s_article_rep
      include ./index-article/index
      include ./permalink-article/index
  .article-container
    s_notice_rep
      include ./index-notice/index
      include ./permalink-notice/index
  .lower-ad-container [##_revenue_list_lower_##]
